
body {
	background-color: #FFE1A8;
}

h1 { 
	font-family: 'Cinzel', serif;
 }

 .Quotes {

 	background-color: #C2AEEA;

 }

 a {

color: #E54F6D;
font-family: 'Alegreya Sans SC', sans-serif;

 }

 p {

    font-family: 'Alegreya Sans SC', sans-serif;
 }

 h3 {

    font-family: 'Alegreya Sans SC', sans-serif;
 }

 table {
    font-family: 'Alegreya Sans SC', sans-serif;

 }