
body {
	background-color: #EEEFF4;
}

h1 { 
	color: #EEEFF4;
   font-family: 'Cinzel', serif;
 }

 .Quotes {

 	background-color: #555C5E;

 }

 a {

color: #555C5E;
font-family: 'Alegreya Sans SC', sans-serif;

 }

 p {
   color:#EEEFF4 ;
    font-family: 'Alegreya Sans SC', sans-serif;
 }

 h3 {

    font-family: 'Alegreya Sans SC', sans-serif;
 }

 table {
    font-family: 'Alegreya Sans SC', sans-serif;

 }

 img{
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
 }